<main class="container">
  <h1>{{ nombre }}</h1>

  <ul style="padding-left: 0">
    <li class="list-unstyled">Nombre: {{ nombre }}</li>
    <li class="list-unstyled">Edad: {{ edad }}</li>
    <li class="list-unstyled">Funcion: {{ obtenerNombre() }}</li>
    <li class="list-unstyled">Capitalizado: {{ nombreCapitalizado }}</li>
  </ul>

  <button
    type="button"
    class="btn btn-primary shadow-none"
    style="margin-right: 16px"
    (click)="cambiarNombre()"
  >
    Cambiar Heroe
  </button>
  <button
    type="button"
    class="btn btn-primary shadow-none"
    (click)="cambiarEdad()"
  >
    Cambiar edad
  </button>
</main>
