<div class="container">
  <header>
    <h1 class="mb-3">Dragon Ball Z</h1>
  </header>
  <main class="row">
    <div class="col-6">
      <app-personajes></app-personajes>
    </div>
    <div class="col-3">
      <h3>Agregar</h3>

      <form class="d-flex flex-column" (ngSubmit)="agregar()">
        <input
          type="text"
          placeholder="Nombre"
          class="mb-3"
          name="nombre"
          [(ngModel)]="nuevo.nombre"
        />
        <input
          type="number"
          placeholder="Poder"
          class="mb-3"
          name="poder"
          [(ngModel)]="nuevo.poder"
        />
        <div>
          <button type="submit" class="btn btn-danger shadow-none">
            Agregar
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
